.back-btn{
    font-size: 35px;
    height: 30px;
    width: 30px;
    margin: 15px;
    cursor: pointer;
}
.form-input-style{
    height: 50px;
    border-radius: 10px;
    background: floralwhite;
}