<div class="bg app-font">
    <div class="container app-font">
        <i class="fa fa-arrow-left btn-back" routerLink="/home"></i>
        <h1 class="text-center text-info">Update Car</h1>
       <div class="row">
        <div class="col-lg-6">
            <img src="assets/images/img9.png" alt="" class="image">
        </div>
        <div class="col-lg-6">
            <p class="text-warning">Please type all below fileds to update your car!</p>
            <form [formGroup]="updateCarForm">
              <div class="form-group">
                <label for="email">Make Company:</label>
                <input type="text" class="form-control form-input" placeholder="Enter make" name="make" formControlName="make">
              </div>
              <div class="form-group">
                <label for="Model">Model of Car:</label>
                <input type="text" class="form-control form-input" placeholder="Enter model" name="model" formControlName="model">
              </div>
              <div class="form-group">
                <label for="price">Price of Car:</label>
                <input type="number" class="form-control form-input" placeholder="Enter price" name="price" formControlName="price">
              </div>
              <div class="form-group">
                <label for="color">Color of Car:</label>
                <input type="text" class="form-control form-input" placeholder="Enter color" name="color" formControlName="color">
              </div>
              <div class="form-group">
                <label for="sel1">Category of Car:</label>
                <select class="form-control form-input" formControlName="category_id">
                  <option value="" selected>Select Category of the Car</option>
                  <option value="1">4WD</option>
                  <option value="2">Sedan</option>
                  <option value="3">Hatch</option>
                  <option value="4">Van</option>
                </select>
              </div>
              <button type="submit" class="btn btn-info btn-block" [disabled]="!updateCarForm.valid" (click)="UpdateCarDetails()">Click to Update</button>
            </form>
        </div>
       </div>
      </div>
      
</div>