
.image{
    height: 200px;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
    }
    .main{
    border: 2px solid #FFA714;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    margin: 15px 40px;
    background: peachpuff;
    }
    .bg-color{
    background: khaki;
    min-height: 100vh;
    height: 100%;
    }
    .elestyle{
    font-size: 16px;
    font-weight: 600;
    font-family: serif;
    }
    .font-9{
    font-weight: 900;
    }