.new-Car-btn{
    margin: 10px auto;
    height: 50px;
    border-radius: 30px;
    width: 200px;
}
.image-div{
    height: 500px;
    width: 100%;
    .car-img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.btn-style{
    width: 130px;
    height: 40px;
    border-radius: 30px;
}