<div class="row">
    <div class="col-lg-12">
       <div class="image-div">
        <img src="assets/images/img6.jpg" alt="" class="car-img">
       </div>
    </div>
</div>
<div class="container custom-font">
  <h4 class="text-success custom-font">Greetings!</h4>
  <p class="custom-font">{{ date | date:'fullDate' }}</p>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="car-site">Welcome to Car hiring site!</h2>
      <p class="site-det"> You can view cars, update car details, delete car here in our site</p>
    </div>
</div>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-info add-car" routerLink="/Add-new-car">+ Add New Car</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center text-primary">All Cars</h1>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>Car Make Company</th>
            <th>Car Model</th>
            <th>Car Color</th>
            <th>Car Price</th>
            <th>Car Category</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of MyCars;let i = index">
            <td class="display-6">{{i+1}}</td>
            <td class="display-5">{{item.make}}</td>
            <td class="display-5">{{item.model}}</td>
            <td class="display-5">{{item.color}}</td>
            <td class="display-5">{{item.price}}</td>
            <td class="display-5">{{item.category_name}}</td>
            <td colspan="2">
                <button class="btn btn-danger" (click)="deleteCar(item.car_id)">Delete &nbsp; x</button>
                &nbsp;
                <button class="btn btn-success" (click)="updateCar(item.car_id)">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
